{% extends 'layout.html' %} {%block content%}
<!-- Header section  -->
<header class="section-padding mt-28">
  <h1 class="cf-page-heading">Change password</h1>
  <p class="heading-subtitle">
    Please enter and verify your new password below.
  </p>
</header>
<!-- Header section END -->

<!-- Form section -->
<section class="section-padding mb-40">
  <form action={{"http://localhost:9000/profile/" + user.username + "/changepassword" }} method="post">
    <!-- Personal Infos -->
    <h2 class="cf-form-group-heading">ENTER OLD PASSWORD</h2>
    {% if errors.oldPassword %}
    <p class="text-red-500 pb-5">{{errors.oldPassword}}</p>
    {% endif %}
    <div class="cf-pers-group">
      <div class="input-group">
        <input
          id="oldPw"
          required
          type="password"
          name="oldPw"
          autocomplete="off"
          class="input"
          value="{{form.oldPw}}"
        />
        <label for="oldPw" class="user-label">Old Password</label>
      </div>
    </div>
    <!-- Personal Infos END -->
    
    <!-- Submission Infos -->
    <h2 class="cf-form-group-heading">ENTER NEW PASSWORD</h2>
    {% if errors.newPassword %}
    <p class="text-red-500 pb-5">{{errors.newPassword}}</p>
    {% endif %}
    {% if errors.passwordLength %}
    <p class="text-red-500 pb-5">{{errors.passwordLength}}</p>
    {% endif %}
    {% if errors.samePassword %}
    <p class="text-red-500 pb-5">{{errors.samePassword}}</p>
    {% endif %}
    <div class="cf-pers-group">
      <div class="input-group">
        <input
          id="newPw"
          required
          type="password"
          name="newPw"
          autocomplete="off"
          class="input"
          value="{{form.newPw}}"
        />
        <label for="newPw" class="user-label">New Password</label>
      </div>
      <span class="cf-splitter"></span>
      <div class="input-group">
        <input
          id="newValPw"
          required
          type="password"
          name="newValPw"
          autocomplete="off"
          class="input"
          value="{{form.newPw2}}"
        />
        <label for="newValPw" class="user-label">Retype Password</label>
      </div>
    </div>
    <!-- Submission Infos END -->

    <!-- Submit buttons -->
    <div class="cf-buttons-flex">
      <div class="button-wrapper">
        <button class="btn" type="reset"><span>RESET</span></button>
      </div>
      <span class="cf-splitter"></span>
      <div class="button-wrapper">
        <button class="btn" type="submit"><span>SUBMIT</span></button>
      </div>
    </div>
    <!-- Submit buttons END -->
  </form>
</section>
{%endblock%}
