{% extends 'layout.html' %} {%block content%}
<!-- Colophon heading -->
<header>
  <h1 class="colophon-heading">
    COLOPHON
    <p class="section-description text-centered">Links and Sources</p>
  </h1>
</header>
<!-- Colophon heading END -->

<section class="colophon section-padding">
  <h2 class="section-heading text-centered">FIRST HAND SOURCES</h2>
  <!-- Cards list -->
  <ul class="cards-container">
    <!-- Card -->
    <li class="card">
      <div class="card-thumb">
        <a href="#"
          ><img src="assets/logo.svg" alt="dfin logo" class="dfin-im"
        /></a>
      </div>
      <div class="card-body">
        <a href="#">
          <header>
            <h2 class="card-title">DFINITY</h2>
            <p class="card-subtitle">
              Rights were requested and granted by DFINITY
            </p>
          </header>
        </a>
        <p class="card-description">
          DFINITY granted us the rights to use their images and provide
          information on the IC
        </p>
      </div>
    </li>
    <!-- Card END -->
    <!-- Card -->
    <li class="card">
      <div class="card-thumb">
        <a href="#"
          ><img
            src="assets/Images/chainsulting-logo.png"
            class="cs-im"
            alt="chainsulting-logo"
        /></a>
      </div>
      <div class="card-body">
        <a href="#">
          <header>
            <h2 class="card-title">CHAINSULTING</h2>
            <p class="card-subtitle">Informations from Chainsulting</p>
          </header>
        </a>
        <p class="card-description">
          Informations, especially about Blockchain, DeFi and dApps were
          provided by Chainsulting (Backgroundknowledge)
        </p>
      </div>
    </li>
    <!-- Card END -->
  </ul>
  <!-- Cards list END -->

  <!-- Further Sources -->
  <div class="more-sources-section">
    <h2 class="section-heading text-centered">LINKS</h2>
    <ul class="sources-list text-centered">
      <li>
        Pseudoelements by Fireship:
        <a href="https://www.youtube.com/watch?v=e1KpKBHJOrA"
          >https://www.youtube.com/watch?v=e1KpKBHJOrA</a
        >
      </li>
      <li>
        DFINITY Website:
        <a href="https://dfinity.org/">https://dfinity.org/</a>
      </li>
      <li>
        DFINITY Discord:
        <a href="https://discord.gg/r8mTSmj7">https://discord.gg/r8mTSmj7</a>
      </li>
      <li>
        Images by DFINITY (partial):
        <a href="https://dfinity.org/howitworks"
          >https://dfinity.org/howitworks</a
        >
      </li>
      <li>
        Images (partial):
        <a href="https://pixabay.com/de/">https://pixabay.com/de/</a>
      </li>
      <li>
        Wikipedia:
        <a href="https://en.wikipedia.org/wiki/Dfinity"
          >https://en.wikipedia.org/wiki/Dfinity</a
        >
      </li>
      <li>
        HTML and CSS docs:
        <a href="https://www.w3schools.com//">https://www.w3schools.com//</a>
      </li>
      <li>
        Blockchain Introduction:
        <a href="https://www.ibm.com/de-de/topics/what-is-blockchain"
          >https://www.ibm.com/de-de/topics/what-is-blockchain</a
        >
      </li>
      <li>
        Bitcoin Integration:
        <a
          href="https://internetcomputer.org/docs/current/concepts/bitcoin-integration/"
          >https://internetcomputer.org/docs/current/concepts/bitcoin-integration/</a
        >
      </li>
      <li>
        ICs Governance:
        <a href="https://dashboard.internetcomputer.org/governance"
          >https://dashboard.internetcomputer.org/governance</a
        >
      </li>
      <li>
        FLEEK:
        <a href="https://fleek.co/">https://fleek.co/</a>
      </li>
      <li>
        OpenChat info:
        <a
          href="https://medium.com/dfinity/openchat-a-truly-decentralized-alternative-to-whatsapp-d0d051479b9a"
          >https://medium.com/dfinity/openchat-a-truly-decentralized-alternative-to-whatsapp-d0d051479b9a</a
        >
      </li>
      <li>
        Motoko Playground:
        <a href="https://m7sm4-2iaaa-aaaab-qabra-cai.raw.ic0.app/"
          >https://m7sm4-2iaaa-aaaab-qabra-cai.raw.ic0.app/</a
        >
      </li>
      <li>
        Internet Identity:
        <a
          href="https://internetcomputer.org/docs/current/tokenomics/identity-auth/auth-how-to/"
          >https://internetcomputer.org/docs/current/tokenomics/identity-auth/auth-how-to/</a
        >
      </li>
      <li>
        Chainsulting:
        <a href="https://chainsulting.de/">https://chainsulting.de/</a>
      </li>
      <li>
        IC on Coinmarket Cap:
        <a href="https://coinmarketcap.com/de/currencies/internet-computer/"
          >https://coinmarketcap.com/de/currencies/internet-computer/</a
        >
      </li>
      <li>
        Video on the NNS:
        <a href="https://www.youtube.com/watch?v=hWnsluxmRqc"
          >https://www.youtube.com/watch?v=hWnsluxmRqc</a
        >
      </li>
      <li>
        Video on the forms:
        <a href="https://www.youtube.com/watch?v=fNcJuPIZ2WE&t"
          >https://www.youtube.com/watch?v=fNcJuPIZ2WE&t</a
        >
      </li>
      <li>
        Video IC technical overview:
        <a href="https://www.youtube.com/watch?v=zHl-oVPoX88"
          >https://www.youtube.com/watch?v=zHl-oVPoX88</a
        >
      </li>
    </ul>
  </div>

  <!-- Further Sources END -->
</section>
{%endblock%}
