{% extends 'layout.html' %} {%block content%}
<!-- Hero Section -->
<header class="fc-hero-section">
  <h1 class="fc-hero-heading">What is the Internet Computer?</h1>
</header>
<!-- Hero Section End -->

<div class="fc-section-one-bridge"></div>

<!-- Section One -->
<section class="fc-section-one section-padding">
  <div class="section-grid">
    <div>
      <h3 class="section-heading">How does it work?</h3>
      <p class="section-description">
        The Internet Computer blockchain is hosted across a series of data
        centers that contain multiple nodes. These nodes from the different data
        centers are aggregated together, which is called a subnet. Each subnet
        can host its own proof-of-stake (PoS) blockchain using a unique
        consensus model called a threshold relay. The subnets in ICP are similar
        in function to Polkadot's parachain model. They allow developers to
        build their applications on the subnets.
      </p>
    </div>
    <img
      class="fc-section-first-image"
      src="/images/Blockchain-Technologie-blocks.jpg"
      alt="ICP Image"
    />
  </div>
</section>
<!-- Section One END -->

<div class="fc-section-two-bridge"></div>

<!-- Section Two -->
<section class="section-padding fc-section-two section-grid">
  <img
    class="fc-section-image"
    src="/images/Blockchain-node-Logo-scaled.jpg"
    alt="ICP Image"
  />
  <div>
    <h3 class="section-heading">How do transactions work?</h3>
    <p class="section-description">
      Because a subnet consists of only a few nodes running from different data
      centers, the Inernet computer blockchain can process transactions within
      seconds. This allows a processing time comparable to the traditional
      centralized Internet. In addition, interaction with Canister-based dApps
      on the Internet computer is free of charge. However, transactions over
      decentralized financial protocols (DeFi) require a small transaction fee
      to process requests for credit platforms or decentralized exchanges
      (DEXs).
    </p>
  </div>
</section>
<!-- Section Two END -->

<div class="fc-section-three-bridge"></div>

<!-- Section Three -->
<section class="section-padding fc-section-three section-grid">
  <div>
    <h3 class="section-heading">What makes it different?</h3>
    <p class="section-description">
      Unlike current crypto projects and platforms, the Internet Computer does
      not use smart contracts. Instead, the applications are created in
      so-called canisters. Canisters are similar to smart contracts, but offer
      greater flexibility as well as development possibilities and are more
      user-friendly. Canisters can also automatically update themselves on other
      subnets and be used by other developers to create various decentralized
      application (dApps).
    </p>
  </div>
  <div class="fc-video-container">
    <iframe
      class="fc-video"
      src="https://www.youtube.com/embed/zHl-oVPoX88"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <div>
      <h4 class="fc-video-description">
        Video: Technical Overview of the Internet Computer
      </h4>
      <p class="fc-video-description">
        *By loading the video, you accept YouTube's privacy policy.&nbsp;
        <a
          class="fc-video-a"
          rel="noreferrer noopener"
          target="_blank"
          href="https://policies.google.com/privacy"
          >Learn More</a
        >
      </p>
    </div>
  </div>
</section>
<!-- Section Three END -->

<div class="fc-section-four-bridge"></div>

<!-- Section Four -->
<section class="fc-section-four section-padding">
  <header>
    <h2 class="fc-section-four-heading">
      <span>Cycles</span>
    </h2>
    <p class="section-subtitle">
      To execute a task on a blockchain, computing resources are required. With
      the Internet Computer, these computational costs for computing resources
      are expressed in cycles.
    </p>
  </header>
  <div class="fc-section-four-grid">
    <div>
      <h3 class="section-heading">What are Cycles?</h3>
      <p class="section-description">
        Basically, the canisters, a further development of smart contracts,
        consume very different resources. CPU units are needed to execute a
        canister, routing messages requires bandwidth, and storing persistent
        data consumes memory. Canisters have an account balance to pay for all
        of the above costs of communication, computation, and memory consumed.
      </p>
      <p class="section-description">
        The actual operating costs, which include physical hardware, energy
        costs, storage devices, and bandwidth, among other things, are expressed
        in Cycles units for the Internet Computer. One of these units thus
        corresponds to the cost of running a single WebAssembly application.
        Since the Internet Computer operates on an all-or-nothing basis, the
        distributed applications (DApps) must have a sufficiently funded account
        balance for full execution.
      </p>
    </div>

    <div>
      <h3 class="section-heading">How do Cycles work?</h3>
      <p class="section-description">
        The Internet Computer Protocol (ICP) token is the native currency of
        Internet computing. Users can hold an ICP token inside a neuron to
        participate in Network Nervous System (NNS) governance, or convert it
        into Cycles to run software on the network.Each Canister on the Internet
        computer must have an account with Cycles to cover the costs of
        communication, computation and storage.
      </p>
      <p class="section-description">
        Developers can convert ICP tokens into Cycles and transfer them to the
        respective Canister account. However, the Internet Computer Platform
        places limits on how many Cycle units a Canister can hold and consume.
        This limit is intended to prevent malicious or buggy programs from
        consuming resources unnecessarily.
      </p>
    </div>
  </div>
</section>
<!-- Section Four END -->
{%endblock%}
