{% extends 'layout.html' %} {%block content%}
<!-- Hero section -->
<header class="gn-hero-section">
  <h1 class="gn-hero-heading">GOVERNANCE ON THE INTERNET COMPUTER</h1>
</header>
<!-- Hero section END -->

<!-- Section one -->
<section class="gn-section-one section-padding">
  <header>
    <h2 class="gn-section-one-heading">
      <span>NEURONS</span>
    </h2>
    <p class="section-subtitle">
      The governance of the Internet computer is controlled by the Network
      Nervous System. A neuron confers voting rights and other benefits.
    </p>
  </header>
  <p class="section-description">
    To prevent abuse or deliberate harm to the platform and community,
    blockchain platforms usually rely on governance. Voting rights are often
    attached to conditions that make it unattractive to misbehave while
    providing stability. Dfinity's Internet Computer has developed a similar
    concept.<br />
    Changes to the configuration and other adjustments must be decided
    collectively. The brain of the Internet Computer is the Network Nervous
    System (NNS). It is responsible for various aspects of the platform,
    including:
  </p>

  <ul class="gn-section-one-grid">
    <li class="hover-effect grid-item">
      Which data centers are allowed to participate in the network
    </li>
    <li class="hover-effect grid-item">
      How many nodes form a subnet and how they are organized
    </li>
    <li class="hover-effect grid-item">
      Deciding on upgrades to Smart Contracts like canister software
    </li>
    <li class="hover-effect grid-item">
      Status updates of the Internet Computer Blockchain and its copies
    </li>
    <li class="hover-effect grid-item">
      Changes to the Internet Computer Protocol
    </li>
    <li class="hover-effect grid-item">
      Freezing malicious canisters to protect the platform
    </li>
  </ul>
</section>
<!-- Section one END -->

<div class="gn-section-two-bridge"></div>

<!-- Section two -->
<section class="gn-section-two section-padding">
  <div class="section-grid">
    <div>
      <h3 class="section-heading">STAKING</h3>
      <p class="section-description">
        Neurons are created by a user locking balances of the native ICP token
        hosted in a ledger within the NNS. That process is also known as
        "Stacking". Stacked balances on the Internet Computer can only be
        released when the neuron is resolved.<br />
        For the stability and security of the Internet Computer, it is
        important, that as many users as possible actively participate in the
        governance process. Incentives for participation are created by offering
        users the prospect of rewards for their activity in voting.
      </p>
      <div class="gn-button-wrapper">
        <a href="https://dashboard.internetcomputer.org/governance"
          ><div class="btn"><span>Stake your ICP</span></div></a
        >
      </div>
    </div>
    <img
      class="gn-staking-image"
      src="/images/neuron-generation.png"
      alt="Blockchain Image"
    />
  </div>
</section>
<!-- Section two END -->

<div class="gn-section-three-bridge"></div>

<!-- Section three -->
<section class="gn-section-three section-padding">
  <h3 class="section-heading text-centered">The Network Nervous System</h3>
  <p class="section-description">
    Proposals can be voted on via the Network Nervous System. For example,
    whether to expand the network by adding subnets or onboarding new nodes.
    Another important function of the Network Nervous System is to combine nodes
    from independent data centers with the goal of creating subnets that are
    used to host canisters. Those are a further development of smart contracts.
    The subnets are created based on the capacity requirements of the hosting
    canister and its ability to connect to other subnets. This enables the
    Internet Computer to have an infinite scalability. You can find more details
    about these functions and tasks in the following video...
  </p>
  <div class="gn-video-container text-centered">
    <iframe
      class="fc-video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/hWnsluxmRqc"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <h3 class="video-description">
    Video: Technical Overview of the Internet Computer
  </h3>
  <p class="video-description">
    *By loading the video, you accept YouTube's privacy policy.&nbsp;
    <a
      class="video-a"
      rel="noreferrer noopener"
      target="_blank"
      href="https://policies.google.com/privacy"
      >Learn More</a
    >
  </p>
</section>
<!-- Section three END -->
{%endblock%}
