{% extends 'layout.html' %} {%block content%}
<!-- Hero Section -->
<div id="particle-bg"></div>
<header class="lp-svgBox lp-logowrapper lp-flex">
  <svg viewBox="-2000 -1000 4000 2000">
    <defs>
      <linearGradient id="col">
        <stop offset="0%" stop-color="#522785" />
        <stop offset="25%" stop-color="#ed1e79" />
        <stop offset="50%" stop-color="#29abe2" />
        <stop offset="70%" stop-color="#f15a24" />
        <stop offset="100%" stop-color="#fbb03b" />
      </linearGradient>
    </defs>
    <path
      id="stroke"
      d="M354-354A500 500 0 1 1 354 354-354-354A500 500 0 1 0-354 354z"
    ></path>
  </svg>
  <svg viewBox="-2000 -1000 4000 2000">
    <defs>
      <linearGradient>
        <stop offset="0%" stop-color="#7867d0" />
        <stop offset="100%" stop-color="#c1b8f9" />
      </linearGradient>
    </defs>
    <path
      d="M354-354A500 500 0 1 1 354 354L-354-354A500 500 0 1 0-354 354z"
    ></path>
  </svg>
  <h1 class="lp-page-heading">THE <br />INTERNET COMPUTER</h1>
</header>
<!-- Hero Section END -->

<div class="lp-section-one-bridge"></div>

<!-- Section One -->
<section class="lp-section-one section-padding">
  <h2 class="lp-section-one-heading">
    <span>Internet Computer</span> - the next stage of the Internet.
  </h2>
  <p class="lp-section-one-description">
    DFINITY Foundation's Internet Computer (IC) is a progressive blockchain,
    which hosts unlimited data and computational power right "on-chain". Build
    scalable Dapps, DeFi, websites and much more. <br />
    <br />
    Stay up to date any time with our info page!
  </p>
  <!-- Buttons -->
  <div class="lp-section-one-buttons">
    <a href="About.html"
      ><div class="btn"><span>Who is DFINITY?</span></div></a
    >
    <span class="lp-button-splitter"></span>
    <a href="Functionality.html">
      <div class="btn">
        <span>What is the IC?</span>
      </div>
    </a>
  </div>
  <!-- Buttons END -->
</section>
<!-- Section One END -->

<div class="lp-section-two-bridge"></div>

<!-- Section TWO -->
<section class="lp-section-two section-padding">
  <div class="section-grid">
    <div>
      <h3 class="section-heading">WHAT IS A BLOCKCHAIN?</h3>
      <p class="section-description">
        Blockchain is a growing technology that allows for the storage and
        sharing of data in a way that is verifiable, immutable, and
        decentralized. <br />
        The blockchain is a distributed ledger of information, which is stored
        in a public database, represented as blocks, which are connected to each
        other by hashes; each block contains a cryptographic hash of the
        previous block, making the state of the Blockchain immutable.
      </p>
    </div>
    <img
      class="lp-blockchain-image"
      src="/images/Blockchain.jpg"
      alt="Blockchain Image"
    />
  </div>
  <span class="lp-article-splitter"></span>
  <div class="section-grid">
    <img
      class="lp-icp-prot-image"
      src="/images/icp-prot.png"
      alt="Blockchain Image"
    />

    <div>
      <h3 class="section-heading">WHAT MAKES THE IC–BLOCKCHAIN SPECIAL?</h3>
      <p class="section-description">
        The Internet Computer is a layer, built ontop of the Internet Protocol,
        called the Internet Computer Protocol (ICP), representing the chain.
        <br />
        The Internet Computer Protocol offers many advantages over other
        blockchains. These include:
      </p>
      <ul class="lp-pros-list">
        <li>
          The scalability, accessibility and security to date are unprecedented
          in the market
        </li>
        <li>
          Unlike competing platforms, the end user does not pay for computing
          services on the Internet computer
        </li>
        <li>
          Users do not need to own cryptocurrency to interact with Internet
          Computer Protocol
        </li>
        <li>
          The service is designed in such a way that users would not notice or
          have to adapt to the decentralized technology on which ICP is based
          on. The transition for the users is as seamless as possible
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- Section TWO END -->

<div class="lp-section-three-bridge"></div>

<!-- Section THREE -->
<section class="lp-section-three section-padding">
  <h3 class="section-heading">RUNNING PROJECTS ON THE INTERNET COMPUTER</h3>

  <!-- Projects list -->
  <ul class="lp-projects-container">
    <!-- Project -->
    <li>
      <div class="card">
        <div class="card-thumb">
          <a href="#"><img src="/images/fleek-logo.png" alt="" /></a>
        </div>
        <div class="card-body">
          <a href="https://fleek.co/">
            <header>
              <h2 class="card-title">FLEEK</h2>
              <p class="card-subtitle">
                Easily deploy Dapps on the Internet Computer
              </p>
            </header>
          </a>
          <p class="card-description">
            Fleek Makes It Easy to Build and Deploy Websites on the Internet
            Computer
          </p>
        </div>
      </div>
    </li>
    <!-- Project END -->
    <!-- Project -->
    <li>
      <div class="card">
        <div class="card-thumb">
          <a href="#"><img src="/images/oc-logo.png" alt="" /></a>
        </div>
        <div class="card-body">
          <a href="https://6hsbt-vqaaa-aaaaf-aaafq-cai.ic0.app/">
            <header>
              <h2 class="card-title">OPEN CHAT</h2>
              <p class="card-subtitle">
                Chat with others on the Internet Computer
              </p>
            </header>
          </a>
          <p class="card-description">
            OpenChat, an app, that runs end–to-end on the Internet Computer
            blockchain.
          </p>
        </div>
      </div>
    </li>
    <!-- Project END -->
    <!-- Project -->
    <li>
      <div class="card">
        <div class="card-thumb">
          <a href="#">
            <img src="/images/motoko-logo.5b9112fe.png" alt="" />
          </a>
        </div>
        <div class="card-body">
          <a href="https://m7sm4-2iaaa-aaaab-qabra-cai.raw.ic0.app/">
            <header>
              <h2 class="card-title">MOTOKO PLAYGROUND</h2>
              <p class="card-subtitle">An IDE for developers to learn Motoko</p>
            </header>
          </a>
          <p class="card-description">
            Motoko is a simple, yet powerful, programming language, with an easy
            syntax.
          </p>
        </div>
      </div>
    </li>
    <!-- Project END -->
    <!-- Project -->
    <li>
      <div class="card">
        <div class="card-thumb">
          <a href=""><img src="/images/ii-logo.webp" alt="flying-man-img" /></a>
        </div>
        <div class="card-body">
          <a
            href="https://internetcomputer.org/docs/current/tokenomics/identity-auth/auth-how-to/"
          >
            <header>
              <h2 class="card-title">INTERNET IDENTITY</h2>
              <p class="card-subtitle">Stay online, without being tracked</p>
            </header>
          </a>
          <p class="card-description">
            Internet Identity allows you to log on to the Internet computer
            without identifying information.
          </p>
        </div>
      </div>
    </li>
    <!-- Project END -->
  </ul>
  <!-- Projects list END -->
</section>
<!-- Section THREE END -->
{%endblock%}
