{% extends 'layout.html' %} {%block content%}
<div class="section-padding">
  <h1 class="mt-40 text-5xl text-yellow-200 mb-20">ALL NEWS ON THE ICP</h1>

  {% for news in news %}
  <a
    href="/news/{{news.id}}"
    class="flex justify-between my-14 items-center border-2 py-10 px-32 rounded-2xl border-yellow-200 duration-200 hover:bg-gray-800 mr-80"
  >
    <div class="w-1/2">
      <h1 class="text-3xl text-yellow-200 mb-5">{{news.title}}</h1>
      <h2 class="text-2xl text-gray-300 mb-5">{{news.subtitle}}</h2>
      <div class="btn mt-5"><span>Read More</span></div>
    </div>
    <div>
      <img
        class="max-h-40 mx-auto rounded-xl bg-white p-1"
        id="imagePreview"
        alt="Article Preview"
        src="/{{news.image}}"
      />
    </div>
  </a>
  {% endfor %} {% if user.accountType === "admin" %}
  <div class="mt-10">
    <form action="http://localhost:9000/createnews" method="get">
      <button class="btn" type="submit"><span>Create News</span></button>
    </form>
  </div>
  {% endif %}
</div>
{%endblock%}
