{% extends 'layout.html' %} {%block content%}
<div class="section-padding mt-36">
  <h1 class="text-2xl lg:text-4xl text-yellow-200 mb-10">ALL NEWS ON THE ICP</h1>
  {% for news in news %}
  <div class="border-2 border-yellow-200 p-5 lg:p-10 rounded-lg duration-200 hover:bg-gray-800 my-20 lg:mr-30 xl:mr-80">
    <a href="/news/{{news.id}}" class="flex justify-between">
      <div>
          <h1 class="text-yellow-200 text-xl lg:text-2xl">{{news.title}}</h1>
          <h2 class="text-gray-300 text-lg lg:text-xl py-5">{{news.subtitle}}</h2>
          <div class="btn mt-3"><span>View Article</span></div>
      </div>
        <img
        id="imagePreview"
        alt="Article Preview"
        src="/{{news.image}}"
        class="hidden max-h-40 md:block ml-10"
      />
    </a>
  </div>
  {% endfor %} {% if user.accountType === "admin" %}
  <div class="mt-10">
    <form action="http://localhost:9000/createnews" method="get">
      <button class="btn" type="submit"><span>Create News</span></button>
    </form>
  </div>
  {% endif %}
</div>
{%endblock%}
